body {
  font-family: 'Arvo', serif;
  margin: 100px auto 0 100px;
  color: #74DF00;
}

h1 {
  border-bottom: 1px dotted black;
}

h1, h2, h3, h4 {
  color: #9e9e9e;
}

#main {
  border-radius: 10px;
  background-color: rgba(200,200,200,0.5);
  padding: 20px;
  width: 350px;
}
